@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



.main-header{
    
    background-color: #0f0f0f;
    color: #848484;
    font-size: 13px;
cursor: pointer;
    font-weight: 600;
    line-height: 1.88;
    padding-top:12px;
}

.announcement-address-paragraph{
    margin-right: 50px;
}

.social-logo{
    font-size: 16px;
    margin-right: 25px;
    cursor: pointer;
    color: #fff;
}



.btn-header{
    border-radius: 0%;
    color: white;    
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.4px;
    line-height: 1;
    background-color: rgb(23, 23, 23);
    border: none;
}
.btn-header:hover{
    color: white;
    
    background-color: #ee763c;
    
}

#logo{
   width: 9rem;
}

.header a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;    
    letter-spacing: 1.6px;
    color: rgb(23, 23, 23);
    color:#fff;
}

.header li{

    margin-left: 1.4rem;
    

}

.header a:hover{
    text-decoration: underline;
    color: #ee763c;
}

.header-text{
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

.header{
    background-image: url(../Images/Portfolio-1.jpg);
    margin-bottom: 60px;
}


.text1{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #848484;
    text-transform: uppercase;
}

.text2{
    letter-spacing: -2px;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #171717;
}

.text3{
    margin: 25px 0 0;
    font-weight: 500;
    line-height: 1.88;
    color: #777777;
}


.icon-text i{
    color:#ee763c;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.72px;
    margin-right: 10px;
}

.icon-text{
    
    margin-bottom: 20px;
    color: #171717;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.72px;

}

.form-group input{
    border: none;
    border-radius: 0%;
    height: 59px;
    font-size: 15px;
    padding: 0 30px;
    box-shadow: none;
    background: #f4f4f4 ;
    

}

.form-group textarea{
    border: none;
    height: 150px;
    font-size: 15px;
    padding: 0 30px;
    box-shadow: none;
    background: #f4f4f4 ;
    padding-top: 10px;
    border-radius: 0%;


}

.primary-btn{
    font-size: 14px;
    background-color: #ee763c;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.4px;
    padding: 20px 40px;
    line-height: 1;
    border: none;
    border-radius: 0%;
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
    margin-bottom: 60px;
}

.primary-btn:hover{
    background-color: #171717;
    color: #fff;
    text-decoration: none;
}


.main-text{
    font-size: 36px;
    font-weight: 800;
    line-height: 1.2;
    color: #171717;
    padding-top: 20px;
}

.paragraph-text{
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.88;
    color: #777777;

}